{
  "CN": "Kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "FR",
      "L": "Paris",
      "O": "Guthenberg",
      "OU": "CA",
      "ST": "Ile-De-France"
    }
  ]
}
