{
  "CN": "system:kube-proxy",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "FR",
      "L": "Paris",
      "O": "system:kube-proxy",
      "OU": "Guthenberg - Kubernetes The Hard Way",
      "ST": "Ile-De-France"
    }
  ]
}
